body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.farmhub-container {
    width: 80%;
    margin: 0 auto;
    overflow-y: auto;
    margin-bottom: 2%;
    
}

.header {
    text-align: left;
    margin-top: 10%;
    margin-bottom: 10px;
}

.header2 {
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

header {
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5cqb;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0.9;
}

.search-icon {
    padding: 5px;
}

.search-icon img {
    width: 20px;
}

input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.sale-header {
    margin-top: 20px;
    text-align: center;
}

.item-detail-box {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 5cqb;
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0.9;
}

.item-image img {
    margin-top: 12%;
    margin-left: 12%;
    width: 150px;
    height: 130px;
}

.item-details {
    padding: 3%;
}

.item-tag {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 2%;
}

.item-name {
    margin-top: 5px;
    font-size: 18px;
}

.item-location, .item-price {
    margin-top: 5px;
    font-size: 14px;
}

.bookmark-icon {
    top: 10px;
    right: 10px;
}

.item-location img {
    width: auto;
    height: 15px;
    margin-right: 5px;
}

.item-price img {
    width: auto;
    height: 15px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: justify-content 0.5s ease;
    background: linear-gradient(to bottom, rgb(227, 248, 222), #f6ffe2);
}
  
.logo {
    margin-left: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo img{
    max-height: 100px;
    width: auto;
  }
  .sub-menu-wrap{
    position: absolute;
    top: 100%;
    border-radius: 15%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .sub-menu-wrap.open-menu{
    max-height: 400px;
  }
  .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
  }
  .user-info{
    display: flex;
    align-items: center;
  }
  .user-info h3{
    font-weight: 500;
  }
  .user-info img{
    max-height: 100px;
    width: auto;
    border-radius: 50%;
    margin-right: 15px;
  }
  .sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background:#ccc;
    margin: 15px 0px 10px;
  }
  .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
  }
  .sub-menu-link p{
    width: 100%;
  }
  .sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  }
  .sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
  }
  .sub-menu-link:hover span{
    transform: translateX(5px);
  }
  .sub-menu-link:hover p{
    font-weight: 600;
  }
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #d3d3d3;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #467c54;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  
  .nav {
    position: fixed;
    top: 0;
    background: linear-gradient(rgba(39,39,39,1.0), transparent);
    width: 100%;
    height: 100px;
    z-index: 100;
    display: flex;
    justify-content: space-around !important;
    align-items: center;
  }
  .user-pic{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    cursor: pointer;
  }
  .user-pic img{
    max-height: 50px;
    width: auto;
  }
  .nav-menu ul{
    display: flex;
  }
  .nav-menu ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 0;
  }
  .nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
  }
  .nav-menu ul li .link:hover, .nav-menu ul li .link.active {
  border-bottom: 2px solid #4caf50;
  }
  .nav-menu-btn{
    display: none;
  }
  @media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu ul li {
      margin: 30px 0;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
  
    .sub-menu-wrap{
        position: absolute;
        top: 100%;
        border-radius: 15%;
        right: 5%;
        width: 320px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .sub-menu-wrap.open-menu{
        max-height: 400px;
    }
    .sub-menu{
        background: #fff;
        padding: 20px;
        margin: 10px;
    }
    .user-info{
        display: flex;
        align-items: center;
    }
    .user-info h3{
        font-weight: 500;
    }
    .user-info img{
        max-height: 100px;
        width: auto;
        border-radius: 50%;
        margin-right: 15px;
    }
    .sub-menu hr{
        border: 0;
        height: 1px;
        width: 100%;
        background:#ccc;
        margin: 15px 0px 10px;
    }
    .sub-menu-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #525252;
        margin: 12px 0;
    }
    .sub-menu-link p{
        width: 100%;
    }
    .sub-menu-link img{
        width: 40px;
        background: #e5e5e5;
        border-radius: 50%;
        padding: 8px;
        margin-right: 15px;
    }
    .sub-menu-link span{
        font-size: 22px;
        transition: transform 0.5s;
    }
    .sub-menu-link:hover span{
        transform: translateX(5px);
    }
    .sub-menu-link:hover p{
        font-weight: 600;
    }
  }